@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "My Index Page";
}


<!--Alex Wirick
    Section 2
    Mission 5
    2/6/2023
    This is the main html file, it uses the shared layout to dynamically display content including a navbar-->


<h1>Alex</h1>
<div>
    <img src="img/IMG_8544.jpg" />
</div>
<br />
<div>
    <p>(we like to travel)</p>
</div>

<div id="intro">
    <p>
        I am hoping to learn how to build web applications that are scalable and efficient all while doing it quickly. I have built apps with Python and Node, but I have never used the .NET framework
        and I want to learn how to do it. That way, not only can I build apps, but I can also work on ones that are already built using this framework.
    </p>
</div>
<div>
    <h3>Top 3 Jobs:</h3>
    <ul>
        <li>Start my own business</li>
        <li>Developer</li>
        <li>Consultant</li>
    </ul>
</div>


